.container {
	margin: 50px 0;
}

.card {
	margin: 0 2% !important;
}

.infected {
	border-bottom: 10px solid rgba(230, 215, 42, 0.5);
}

.recovered {
	border-bottom: 10px solid rgba(156, 236, 255, 0.5);
}

.deaths {
	border-bottom: 10px solid rgba(241, 141, 158, 0.5);
}

@media (max-width: 770px) {
	.card {
		margin: 2% 0 !important;
	}
}